  <div class="container main-container">

<!--     <div class="animated fadeIn fast" *ngIf="this.auth.userProfile.name == true">
  <h3>Lo sentimos, el backend no esta corriendo</h3>
  <hr>
</div> -->

    <div class="animated fadeIn fast" *ngIf="this.auth.readyToShow && this.auth.userProfile.name != null">
<h2>Perfil del usuario: {{ this.auth.userProfile.name }}</h2>
<pre>  {{ this.auth.userProfile | json}} </pre>
      <hr>
    </div>
    <div class="animated fadeIn fast" *ngIf="this.auth.readyToShow && this.auth.userProfile.nombre != null">
<h2>Perfil del usuario: {{this.auth.userProfile.nombre}}</h2>
<pre>  {{ this.auth.userProfile | json}} </pre>
      <hr>
    </div>







          <h3 class="text-center">Comandos para Atom</h3>
          <hr>
          <p class="lead text-center">
              Seleccionar todos los elementos iguales: cmd + ctrl + g <br>
              Seleccionar el siguiente elemento igual: cmd + d <br>
              Mover un elemento: cmd + ctrl + flecha <br>
              Comentar lineas: cmd + shift + / <br>
              To UPPERCASE: cmd + k + u <br>
              To lowercase: cmd + k + l <br>
              Duplicar Linea: cmd + shift + d <br>
              Juntar Lineas: cmd + j <br>
        </p>
      </div>
