


  <!--Body-->
  <div class="card-body animated fadeIn fast">
    <ul class="list-group">


    <li class="list-group-item card-body-list">
      <table >
        <tr>
          <td>
            <span>Bienvenido</span><br>
            <h3> {{this.auth.userProfile.nombre}} <br>
            {{this.auth.userProfile.apellido}} </h3>
          </td>
          <td>
            <ul>
              <div class="img">
                <img [src]="this.auth.userProfile?.url_img" alt="">
              </div>
            </ul>
          </td>
          <td>
            <ul>
                <div class="numeros-cliente">
                  <h5>{{this.ofertados}}</h5>
                  <span>Fletes Ofertados</span>
                </div>
                <div class="numeros-cliente">
                  <h5>{{ this.auth.userProfile.fletesCancelados}}</h5>
                  <span>Cancelados</span>
                </div>
                <div class="numeros-cliente">
                  <h5 >{{this.archivados}}</h5>
                  <span>Archivados</span>
                </div>
            </ul>
          </td>
          <td>
            <ul>
                <button type="button" class="btn btn-info ancho-b" data-toggle="modal" [attr.data-target]="'#editar'">Editar Perfil</button>
            </ul>
          </td>
        </tr>
      </table>
    </li>
  </ul>
</div>


<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Vehiculo</th>
      <th scope="col">Tipo</th>
      <th scope="col">Patente</th>
      <th scope="col">Color</th>
      <th scope="col">Numero Contacto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><div class="img">
        <img src="assets/img/camion_solo.png" alt="">
      </div></th>
      <td>{{ this.auth.userProfile.vehiculo.tipo }}</td>
      <td>{{ this.auth.userProfile.vehiculo.patente}}</td>
      <td>{{ this.auth.userProfile.vehiculo.color}}</td>
      <td>{{ this.auth.userProfile.num_contacto}}</td>
    </tr>
  </tbody>
</table>





        <!-- <div class="img">
          <img src="assets/img/camion_solo.png" alt="">
        </div>
          <div class="numeros-cliente">
            <h5>Vehiculo</h5>
          </div> -->









  <!-- EDITAR  -->
  <form >
    <div class="modal fade" [attr.id]="'editar'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-row">

              <div class="form-group">
                <label>Nombre</label>
                <input  [(ngModel)]="this.auth.userProfile.nombre"
                    type="text"
                       name="nombre"
                      class="form-control"
                      placeholder="Nombre"
                      required>
              </div>
              <div class="form-group">
                <label>Apellido</label>
                <input  [(ngModel)]="this.auth.userProfile.apellido"
                    type="text"
                       name="apellido"
                      class="form-control"
                      placeholder="Apellido"
                      required>
              </div>
              <div class="form-group">
              <label>Numero de Contacto</label>
              <input  [(ngModel)]="this.auth.userProfile.num_contacto"
                  type="text"
                     name="num_contacto"
                    class="form-control"
                    placeholder=""
                    required>
            </div>

            </div>

              <h5>Informacion de vehiculo</h5>

              <div class="form-row">

              <div class="form-group">
                <label>descripcion</label>
                <select
                    class="form-control option-select"
                    [(ngModel)]="this.auth.userProfile.vehiculo.tipo"
                    name="vehiculo.tipo">
                    <option>Auto</option>
                    <option>Camioneta</option>
                    <option>Camion</option>
                    <option>Moto</option>
                </select>
              </div>
              <div class="form-group">
                <label>Patente</label>
                <input  [(ngModel)]="this.auth.userProfile.vehiculo.patente"
                      type="text"
                       name="vehiculo.patente"
                      class="form-control"
                      placeholder="ABCD12"
                      required>
              </div>
              <div class="form-group">
                <label>Color</label>
                <input  [(ngModel)]="this.auth.userProfile.vehiculo.color"
                      type="text"
                       name="vehiculo.color"
                      class="form-control"
                      placeholder="Negro"
                      required>
              </div>
            </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success" (click)="actualizarperfil(this.auth.userProfile)" name="button" data-dismiss="modal">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  </form>
