


  <!--Body-->
  <div class="card-body animated fadeIn fast">
    <ul class="list-group">


    <li class="list-group-item card-body-list">
      <ul>
          <div class="img">
            <img src="assets/img/default.jpg" alt="">
          </div>
        </ul>
        <ul>
            <div class="numeros-cliente">
              <h5>142</h5>
              <span>Fletes</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Cancelados</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Este Mes</span>
            </div>
        </ul>
        <ul>
            <button type="button" class="btn btn-info">Editar Perfil</button>
        </ul>

<h3>Nombre  <br> Usuario</h3>
<hr>
<p>Aqui, iria un texto para definir en pocas palabras quien es este cliente, tipo instagram</p>
    </li>
  </ul>



<ul class="list-group">
  <li class="list-group-item card-body-list">
    <ul>
        <div class="img">
          <img src="assets/img/default.jpg" alt="">
        </div>
      </ul>
      <ul>
          <div class="numeros-cliente">
            <h5>Vehiculo</h5>
            <span>Informacion relevante del vehiculo</span>
          </div>

      </ul>
  </li>
</ul>

  </div>
