


  <!--Body-->
  <div class="card-body animated fadeIn fast">
    <ul class="list-group">


    <li class="list-group-item card-body-list">
      <ul>
          <div class="img">
            <img src="assets/img/default.jpg" alt="">
          </div>
        </ul>
        <ul>
            <div class="numeros-cliente">
              <!-- <h5>{{ this.auth.userProfile.fletes.numero}}</h5> -->
              <span>Fletes</span>
            </div>
            <div class="numeros-cliente">
              <!-- <h5>{{ this.auth.userProfile.fletes.cancelados}}</h5> -->
              <span>Cancelados</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Este Mes</span>
            </div>
        </ul>
        <ul>
            <button type="button" class="btn btn-info">Editar Perfil</button>
        </ul>

<h3>{{this.auth.userProfile.given_name}}</h3>
<hr>
<!-- <p>{{this.auth.userProfile.resenaPropia}}</p> -->
    </li>
  </ul>

  <table class="table table-sm" style="padding-top: 10px;">
<thead>
  <tr>
    <th scope="col"><strong>Divisa</strong></th>
    <th scope="col">Cantidad</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">Dinero gastado este mes:</th>
    <!-- <td>{{this.auth.userProfile.infoExtra.dineroGastado}}</td> -->

  </tr>
  <tr>
    <th scope="row">Cantidad de envios realizados:</th>
    <!-- <td>{{this.auth.userProfile.infoExtra.enviosCantidad}}</td> -->

  </tr>
  <tr>
    <th scope="row">Fletes Activos:</th>
    <!-- <td>{{this.auth.userProfile.infoExtra.fletesActivos}}</td> -->

  </tr>
</tbody>
</table>

<ul class="list-group">
  <li class="list-group-item card-body-list">
    <ul>
        <div class="img">
          <img src="assets/img/default.jpg" alt="">
        </div>
      </ul>
      <ul>
          <div class="numeros-cliente">
            <h5>Escritorio Completo</h5>
            <span>Escritprio completo para trasladar 10km</span>
          </div>

      </ul>
      <ul>
          <button type="button" class="btn btn-info">Subastar</button>
      </ul>
  </li>
</ul>

  </div>
