


  <!--Body-->
  <div class="card-body">
    <ul class="list-group">


    <li class="list-group-item card-body-list">
      <ul>
          <div class="img">
            <img src="assets/img/default.jpg" alt="">
          </div>
        </ul>
        <ul>
            <div class="numeros-cliente">
              <h5>142</h5>
              <span>Fletes</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Cancelados</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Este Mes</span>
            </div>
        </ul>
        <ul>
            <button type="button" class="btn btn-info">Editar Perfil</button>
        </ul>

<h3>Nombre  <br> Usuario</h3>
<hr>
<p>Aqui, iria un texto para definir en pocas palabras quien es este usuario, tipo instagram</p>
    </li>
  </ul>

  <table class="table table-sm" style="padding-top: 10px;">
<thead>
  <tr>
    <th scope="col"><strong>Divisa</strong></th>
    <th scope="col">Cantidad</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">Dinero gastado este mes:</th>
    <td>$200.000</td>

  </tr>
  <tr>
    <th scope="row">Cantidad de envios realizados:</th>
    <td>23</td>

  </tr>
  <tr>
    <th scope="row">Fletes Activos:</th>
    <td>2</td>

  </tr>
</tbody>
</table>

<ul class="list-group">
  <li class="list-group-item card-body-list">
    <ul>
        <div class="img">
          <img src="assets/img/default.jpg" alt="">
        </div>
      </ul>
      <ul>
          <div class="numeros-cliente">
            <h5>Escritorio Completo</h5>
            <span>Escritprio completo para trasladar 10km</span>
          </div>

      </ul>
      <ul>
          <button type="button" class="btn btn-info">Subastar</button>
      </ul>
  </li>
</ul>

  </div>

  
