<h1>Usuario</h1>

<div class="card text-center">
  <!--Header-->
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Nombre Usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">LogOut Button</a>
    </li>
  </ul>
  <hr>


  <!--Body-->
  <div class="card-body">
    <ul class="list-group">


    <li class="list-group-item card-body-list">
      <ul>
          <div class="img">
            <img src="assets/img/default.jpg" alt="">
          </div>
        </ul>
        <ul>
            <div class="numeros-cliente">
              <h5>142</h5>
              <span>Fletes</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Cancelados</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Este Mes</span>
            </div>
        </ul>
        <ul>
            <button type="button" class="btn btn-info">Ver Perfil</button>
        </ul>
    </li>


  </ul>
  </div>

  <!--Footer-->
  <div class="card-footer text-muted">
    <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">Fleteros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">+ Publicar Flete</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
    </ul>
  </div>
  </div>
