<div *ngFor="let flete of this.fletes">
    <div class="card-body animated fadeIn fast" >
      <ul class="list-group" >
        <li class="list-group-item card-body-list">
          <table class="table">
            <tr>
              <td>
                <div class="img">
                  <img src="assets/img/default.jpg" alt="">
                </div>
              </td>
              <td>
                <div class="comentario ancho-elementos">
                  <h4>{{ flete.titulo }}</h4>
                  <p class="border border-info comentario-flete"> {{flete.comentario}}</p>
                </div>
              </td>
              <td>
                <div class="botones">
                  <ul class="list-group">
                    <li *ngIf="flete.ofertado.length > 0"><button type="button" class="btn btn-info ancho-b" data-toggle="modal" [attr.data-target]="'#'+flete._id+'ver'" *ngFor="let ofertado of flete.ofertado; let i_of = index">Ver ({{i_of+1}})</button></li>
                    <li><button type="button" class="btn btn-info ancho-b" data-toggle="modal" [attr.data-target]="'#'+flete._id">Editar</button></li>
                    <li><button type="button" class="btn btn-danger ancho-b" data-toggle="modal" [attr.data-target]="'#'+flete._id+'elim'">Eliminar</button></li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>
          <div class="container main-container">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th scope="row">Horario Despacho</th>
                  <td>{{flete.horarioRetiro}}</td>
                </tr>
                <tr>
                  <th scope="row">Cantidad de Cotizaciones</th>
                  <td>4</td>
                </tr>
                <tr>
                  <th scope="row">Tipo de Flete</th>
                  <td>{{ flete.subasta }}</td>
                </tr>
                <tr>
                  <th scope="row">Fecha Publicacion</th>
                  <td> {{ flete.fechaCreacion | date:'MMMM - dd'}}</td>
                </tr>
                <tr>
                  <th scope="row">Direccion Completa</th>
                  <td> <strong>Origen</strong> </td>
                  <td> <strong>Destino</strong> </td>
                </tr>
                <tr>
                  <th scope="row">Comuna</th>
                  <td>{{ flete.direccionOrigen.comuna}}</td>
                  <td>{{ flete.direccionDestino.comuna }}</td>
                </tr>
                <tr>
                  <th scope="row">Calle</th>
                  <td>{{ flete.direccionOrigen.calle }}</td>
                  <td>{{ flete.direccionDestino.calle }}</td>
                </tr>
                <tr>
                  <th scope="row">Numero</th>
                  <td>{{ flete.direccionOrigen.numero }}</td>
                  <td>{{ flete.direccionDestino.numero }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>

    <!-- ELIMINAR  -->
    <div class="modal fade" [attr.id]="flete._id+'elim'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar {{flete.titulo}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row" *ngFor="let ofertado of flete.ofertado">

                ¿Esta seguro que desea eliminar el flete {{flete.titulo}}?

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="delete(flete._id)" data-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    </div>



    <!-- EDITAR  -->
    <form >
      <div class="modal fade" [attr.id]="flete._id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar {{flete.titulo}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">

              <div class="form-group">
                <label>Titulo</label>
                <input  [(ngModel)]="flete.titulo"
                    type="text"
                       name="titulo"
                      class="form-control"
                      placeholder="Titulo"
                      required>
              </div>
              <div class="form-group">
                <label>Comentario</label>
                <input  [(ngModel)]="flete.comentario"
                    type="text"
                       name="comentario"
                      class="form-control"
                      placeholder="comentario"
                      required>
              </div>
              <div class="form-group">
                <label>Horario de Retiro</label>
                <input  [(ngModel)]="flete.horarioRetiro"
                    type="text"
                       name="horarioRetiro"
                      class="form-control"
                      placeholder="Horario Retiro"
                      required>
              </div>
            </div>

              <h5>Direccion Origen</h5>

            <div class="form-row">
              <div class="form-group">
                <label>Comuna</label>
                <select [(ngModel)]="flete.direccionOrigen.comuna"
                    class="form-control" name="direccionOrigen.comuna">
                    <option>Alhué</option>
                    <option>Buin</option>
                    <option>Calera de tango</option>
                    <option>Cerrillos</option>
                    <option>Cerro navia</option>
                    <option>Colina</option>
                    <option>Conchalí</option>
                    <option>Curacaví</option>
                    <option>El bosque</option>
                    <option>El monte</option>
                    <option>Estación central</option>
                    <option>Huechuraba</option>
                    <option>Independencia</option>
                    <option>Isla de maipo</option>
                    <option>La cisterna</option>
                    <option>La florida</option>
                    <option>La granja</option>
                    <option>La pintana</option>
                    <option>La reina</option>
                    <option>Lampa</option>
                    <option>Las condes</option>
                    <option>Lo barnechea</option>
                    <option>Lo espejo</option>
                    <option>Lo prado</option>
                    <option>Macul</option>
                    <option>Maipú</option>
                    <option>María pinto</option>
                    <option>Melipilla</option>
                    <option>Ñuñoa</option>
                    <option>Padre hurtado</option>
                    <option>Paine</option>
                    <option>Pedro aguirre cerda</option>
                    <option>Peñaflor</option>
                    <option>Peñalolén</option>
                    <option>Pirque</option>
                    <option>Providencia</option>
                    <option>Pudahuel</option>
                    <option>Puente alto</option>
                    <option>Quilicura</option>
                    <option>Quinta normal</option>
                    <option>Recoleta</option>
                    <option>Renca</option>
                    <option>San bernardo</option>
                    <option>San joaquín</option>
                    <option>San josé de maipo</option>
                    <option>San miguel</option>
                    <option>San pedro</option>
                    <option>San ramón</option>
                    <option>Santiago</option>
                    <option>Talagante</option>
                    <option>Tiltil</option>
                    <option>Vitacura</option>
            </select>
              </div>
              <div class="form-group">
                <label>Calle</label>
                <input  [(ngModel)]="flete.direccionOrigen.calle"
                    type="text"
                       name="direccionOrigen.calle"
                      class="form-control"
                      placeholder="Calle"
                      required>
              </div>
              <div class="form-group">
                <label>Numero</label>
                <input  [(ngModel)]="flete.direccionOrigen.numero"
                    type="text"
                       name="direccionOrigen.numero"
                      class="form-control"
                      placeholder="Numero"
                      required>
              </div>
            </div>

            <h5>Direccion Destino</h5>

            <div class="form-row">
              <div class="form-group">
                <label>Comuna</label>
                <select [(ngModel)]="flete.direccionDestino.comuna"
                    class="form-control" name="direccionDestino.comuna">
                    <option>Alhué</option>
                    <option>Buin</option>
                    <option>Calera de tango</option>
                    <option>Cerrillos</option>
                    <option>Cerro navia</option>
                    <option>Colina</option>
                    <option>Conchalí</option>
                    <option>Curacaví</option>
                    <option>El bosque</option>
                    <option>El monte</option>
                    <option>Estación central</option>
                    <option>Huechuraba</option>
                    <option>Independencia</option>
                    <option>Isla de maipo</option>
                    <option>La cisterna</option>
                    <option>La florida</option>
                    <option>La granja</option>
                    <option>La pintana</option>
                    <option>La reina</option>
                    <option>Lampa</option>
                    <option>Las condes</option>
                    <option>Lo barnechea</option>
                    <option>Lo espejo</option>
                    <option>Lo prado</option>
                    <option>Macul</option>
                    <option>Maipú</option>
                    <option>María pinto</option>
                    <option>Melipilla</option>
                    <option>Ñuñoa</option>
                    <option>Padre hurtado</option>
                    <option>Paine</option>
                    <option>Pedro aguirre cerda</option>
                    <option>Peñaflor</option>
                    <option>Peñalolén</option>
                    <option>Pirque</option>
                    <option>Providencia</option>
                    <option>Pudahuel</option>
                    <option>Puente alto</option>
                    <option>Quilicura</option>
                    <option>Quinta normal</option>
                    <option>Recoleta</option>
                    <option>Renca</option>
                    <option>San bernardo</option>
                    <option>San joaquín</option>
                    <option>San josé de maipo</option>
                    <option>San miguel</option>
                    <option>San pedro</option>
                    <option>San ramón</option>
                    <option>Santiago</option>
                    <option>Talagante</option>
                    <option>Tiltil</option>
                    <option>Vitacura</option>
            </select>
              </div>
              <div class="form-group">
                <label>Calle</label>
                <input  [(ngModel)]="flete.direccionDestino.calle"
                    type="text"
                       name="direccionDestino.calle"
                      class="form-control"
                      placeholder="Calle"
                      required>
              </div>
              <div class="form-group">
                <label>Numero</label>
                <input  [(ngModel)]="flete.direccionDestino.numero"
                    type="text"
                       name="direccionDestino.numero"
                      class="form-control"
                      placeholder="Numero"
                      required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success" (click)="actualizarFlete(flete)" name="button" data-dismiss="modal">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
    </form>

    <!-- VER -->
    <div class="modal fade" [attr.id]="flete._id+'ver'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{flete.titulo}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row" *ngFor="let ofertado of flete.ofertado">
              <div class="col" >
                Oferta:
              </div>
              <div class="col">
                {{ofertado.monto | currency:'CPL':true: '.0-0'}}
              </div>
              <div class="col">
                <button type="button" class="btn btn-info" (click)="verPerfil(ofertado.id_usuario)" data-dismiss="modal" data-toggle="modal" [attr.data-target]="'#clientProfile'">Ver Perfil</button>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CLientProfile -->
  <div class="modal fade" [attr.id]="'clientProfile'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información del Flete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row" *ngFor="let client of this.clientProfile">

              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Nombre</th>
                    <td>{{client.nombre}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Apellido</th>
                    <td>{{client.apellido}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Numero Envios</th>
                    <td>{{client.numeroEnvios}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Fletes Cancelados</th>
                    <td>{{client.fletesCancelados}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Numero de Contacto</th>
                    <td>{{client.num_contacto}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Tipo Vehículo</th>
                    <td>{{client.vehiculo.tipo}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Patente Vehículo</th>
                    <td>{{client.vehiculo.patente}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Color Vehículo</th>
                    <td>{{client.vehiculo.color}}</td>
                  </tr>
                </tbody>
              </table>



        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</div>
