



  <!--Body-->
  <div class="card-body">
    <ul class="list-group">


    <li class="list-group-item card-body-list">
      <ul>
          <div class="img">
            <img src="assets/img/default.jpg" alt="">
          </div>
        </ul>
        <ul>
            <div class="numeros-cliente">
              <h5>142</h5>
              <span>Fletes</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Cancelados</span>
            </div>
            <div class="numeros-cliente">
              <h5>12</h5>
              <span>Este Mes</span>
            </div>
        </ul>
        <ul>
            <button type="button" class="btn btn-info">Ver Perfil</button>
        </ul>
    </li>


  </ul>
  </div>

  
