
  <form class="d-flex justify-content-center comuna-form" >
    <table>
    <tbody>
      <tr>
        <th scope="row">Seleccionar Comuna</th>
        <th>
          <select class="form-control option-select" id="exampleFormControlSelect1">
          <option>Alhué</option>
          <option>Buin</option>
          <option>Calera de tango</option>
          <option>Cerrillos</option>
          <option>Cerro navia</option>
          <option>Colina</option>
          <option>Conchalí</option>
          <option>Curacaví</option>
          <option>El bosque</option>
          <option>El monte</option>
          <option>Estación central</option>
          <option>Huechuraba</option>
          <option>Independencia</option>
          <option>Isla de maipo</option>
          <option>La cisterna</option>
          <option>La florida</option>
          <option>La granja</option>
          <option>La pintana</option>
          <option>La reina</option>
          <option>Lampa</option>
          <option>Las condes</option>
          <option>Lo barnechea</option>
          <option>Lo espejo</option>
          <option>Lo prado</option>
          <option>Macul</option>
          <option>Maipú</option>
          <option>María pinto</option>
          <option>Melipilla</option>
          <option>Ñuñoa</option>
          <option>Padre hurtado</option>
          <option>Paine</option>
          <option>Pedro aguirre cerda</option>
          <option>Peñaflor</option>
          <option>Peñalolén</option>
          <option>Pirque</option>
          <option>Providencia</option>
          <option>Pudahuel</option>
          <option>Puente alto</option>
          <option>Quilicura</option>
          <option>Quinta normal</option>
          <option>Recoleta</option>
          <option>Renca</option>
          <option>San bernardo</option>
          <option>San joaquín</option>
          <option>San josé de maipo</option>
          <option>San miguel</option>
          <option>San pedro</option>
          <option>San ramón</option>
          <option>Santiago</option>
          <option>Talagante</option>
          <option>Tiltil</option>
          <option>Vitacura</option>
        </select>
        </th>
      </tr>
    </tbody>
    </table>

      </form>




<div class="card-body animated fadeIn fast">
  <ul class="list-group">
    <li class="list-group-item card-body-list">

      <table class="table">
        <tr>
          <td>
            <div class="img">
              <img src="assets/img/default.jpg" alt="">
            </div>
          </td>
          <td>
            <div class="comentario">
              <h4>Titulo Flete</h4>
              <p class="border border-info"> Es un transporte de una caja grande, de 3x3 metros y 2 de altura, ojala en una camioneta tapada</p>
            </div>
          </td>
          <td>
            <div class="botones">
              <ul class="list-group">
                <li><button type="button" class="btn btn-success ancho-b">Ofertar</button></li>
                <li><button type="button" class="btn btn-info ancho-b">Archivar</button></li>
                <li><button type="button" class="btn btn-primary ancho-b">Ver Mas o Perfil</button></li>
              </ul>
            </div>
          </td>
        </tr>
      </table>

      <div class="container main-container">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Fecha Despacho</th>
              <td>22/22/22</td>
            </tr>
            <tr>
              <th scope="row">Cantidad de Cotizaciones</th>
              <td>20</td>
            </tr>
            <tr>
              <th scope="row">Subasta</th>
              <td>no / Ofertar</td>
            </tr>
            <tr>
              <th scope="row">Fecha Publicacion</th>
              <td>22/22/22</td>
            </tr>
            <tr>
              <th scope="row">Direccion Completa</th>
              <td>Ciudad, Region, Comuna, Calle, Numero</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
