<h1>Cliente</h1>



<div class="card text-center">
  <!--Header-->
  <div class="card-header">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Filtrar Comuna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ver Todos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Archivado</a>
      </li>
    </ul>
  </div>


  <!--Body-->
  <div class="card-body">
    <h4 class="card-title">Esta es la seccion donde van los datos de los Clientes</h4>
    <p class="card-text">Esto esta definido en los layout</p>
  </div>


  <!--Footer-->
  <div class="card-footer text-muted">
    <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Buscar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestionar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
    </ul>
  </div>
</div>
