
<div class="card-body animated fadeIn fast">
  <ul class="list-group">
    <li class="list-group-item card-body-list">
        <table class="table">
          <tr>
            <td>
              <div class="img">
                <img src="assets/img/default.jpg" alt="">
              </div>
            </td>
            <td>
              <div class="comentario">
                <h4>Titulo Flete</h4>
                <p class="border border-info comentario-flete"> Es un transporte de una caja grande, de 3x3 metros y 2 de altura, ojala en una camioneta tapada</p>
              </div>
            </td>
            <td>
              <div class="botones">
                <ul class="list-group">
                  <li><button type="button" class="btn btn-success ancho-b">Ofertar</button></li>
                  <li><button type="button" class="btn btn-danger ancho-b">Quitar de Archivado</button></li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      <div class="container main-container">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Fecha Despacho</th>
              <td>22/22/22</td>
            </tr>
            <tr>
              <th scope="row">Cantidad de Cotizaciones</th>
              <td>50</td>
            </tr>
            <tr>
              <th scope="row">Subasta</th>
              <td>no / Ofertar</td>
            </tr>
            <tr>
              <th scope="row">Fecha Publicacion</th>
              <td>22/22/22</td>
            </tr>
            <tr>
              <th scope="row">Direccion Completa</th>
              <td>Ciudad, Region, Comuna, Calle, Numero</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
