<!-- <div class="alert alert-info"  role="alert" *ngIf="this.ofertadosActivos">
  <h4 class="alert-heading">No se encontraron Fletes Activos</h4>
  <p>Puede buscar fletes en la pestaña de "Buscar Flete"</p>
</div>
 -->
<div class="card-body animated fadeIn fast">
  <ul class="list-group" *ngFor="let flete of this.ofertadosActivos">
    <li class="list-group-item card-body-list">
      <table class="table">
        <tr>
          <td>
            <div class="img">
              <img src="assets/img/default.jpg" alt="">
            </div>
          </td>
          <td>
            <div class="comentario">
              <h4>{{flete.titulo}}</h4>
              <p class="border border-info comentario-flete"> {{flete.comentario}}</p>
            </div>
          </td>
          <td>
            <div class="botones">
              <ul class="list-group">
                <!-- <p *ngFor="let ofertado of flete.ofertado"> {{ofertado.monto}} </p> -->
                <li *ngFor="let ofertado of flete.ofertado">
                  <button type="button" class="btn btn-info ancho-b" *ngIf="ofertado.id_usuario === this.auth.userProfile._id" >
                    {{ ofertado.monto | currency:'CPL':true: '.0-0' }}
                  </button>
                </li>
                <li><button type="button" class="btn btn-danger ancho-b" (click)="abandonar(flete._id)">Abandonar</button></li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
      <div class="container main-container">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Horario Despacho</th>
              <td>{{flete.horarioRetiro}}</td>
            </tr>
            <tr>
              <th scope="row">Cantidad de Cotizaciones</th>
              <td>4</td>
            </tr>
            <tr>
              <th scope="row">Tipo de Flete</th>
              <td>{{ flete.subasta }}</td>
            </tr>
            <tr>
              <th scope="row">Fecha Publicacion</th>
              <td> {{ flete.fechaCreacion | date:'MMMM - dd'}}</td>
            </tr>
            <tr>
              <th scope="row">Direccion Completa</th>
              <td> <strong>Origen</strong> </td>
              <td> <strong>Destino</strong> </td>
            </tr>
            <tr>
              <th scope="row">Comuna</th>
              <td>{{ flete.direccionOrigen.comuna}}</td>
              <td>{{ flete.direccionDestino.comuna }}</td>
            </tr>
            <tr>
              <th scope="row">Calle</th>
              <td>{{ flete.direccionOrigen.calle }}</td>
              <td>{{ flete.direccionDestino.calle }}</td>
            </tr>
            <tr>
              <th scope="row">Numero</th>
              <td>{{ flete.direccionOrigen.numero }}</td>
              <td>{{ flete.direccionDestino.numero }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
