<div class="row">
  <div class="col-md-12 text-center">

    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['activos']">Activos</button>
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['porPrecio']">Por Precio</button>
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['proximos']">Proximos</button>
  </div>


  </div>

</div>


<router-outlet></router-outlet>
