<div class="row">
  <div class="col-md-12 text-center">

    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['verTodos']">Ver Todos</button>
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['filtroComuna']">Filtrar por Comuna</button>
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['archivado']">Ver Archivados</button>
  </div>


  </div>

</div>


<router-outlet></router-outlet>
