
<!-- User Section -->
<div *ngIf="usuario == 'usuario'">
  <app-nav-bar-user></app-nav-bar-user>
  <div class="container main_container">
      <router-outlet></router-outlet>
  </div>

</div>


<!-- Client Section --->
<div *ngIf="usuario == 'cliente'">
  <!-- Header Client, este cambia y va dentro de Footer -->
  <div class="container main_container">
      <router-outlet></router-outlet>
  </div>
    <!--Footer Cliente (Fijo) Este si va aqui -->
</div>


<!-- Login Section -->
<div *ngIf="usuario == 'login'">
    <app-login></app-login>
    <router-outlet></router-outlet>
</div>
