
<app-navbar></app-navbar>

  <div class="container main_container">
      <router-outlet></router-outlet>


  </div>
<br>
  <div class="row jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-8">
              <h6>Pro Flete</h6>
              <span>Creado por Nicolas Rodriguez Niñoles</span>
              <p>+56 9 5010 86820</p>

          </div>
          <div class="col-6 col-md-4">
            <div class="img">
              <img src="assets/img/logo_proflete.png" alt="">
            </div>
          </div>
        </div>

      </div>
  </div>
