
  <!--Body-->
  <div class="card-body">


<div class="card"> <!-- Informacion de tu Flete-->
  <div class="card-header">
    <h4>Información de tu Flete</h4>
  </div>
  <br>
  <div class="card-body">
    <div class="form-row">
        <div class="col">
          Titulo:
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre Flete">
        </div>
      </div>

      <br>

    <div class="card-body">
      <div class="form-row">
        <div class="col">
            Comentario:
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Comentario">
        </div>
    </div>

    <br>

    <div class="form-row">
        <div class="col">
          Horario Flete:
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Fin de semana, entre las 13.00 y las 20.00 hrs">
        </div>
      </div>

    <br>

      <div class="form-row">
          <div class="col">
            Tipo de Flete:
          </div>
          <div class="col">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Normal</option>
              <option>Subasta</option>
            </select>
          </div>
        </div>

        <br>

        <div class="form-row">
            <div class="col">
              Imagen:
            </div>
            <div class="col">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          </div>
  </div>
</div>
</div>
<br>


<div class="card"> <!-- Ubicacion de tu Flete -->
  <div class="card-header">
  <h4>Ubicación de tu Flete</h4>
  </div>
  <h3 class="text-left titulo-direccion">Dirección Inicio</h3>
  <div class="card-body">


    <div class="form-row">
        <div class="col">
          Comuna:
        </div>
        <div class="col">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Las Condes</option>
            <option>Vitacura</option>
            <option>Providencia</option>
          </select>
        </div>
      </div>

      <br>

      <div class="form-row">
          <div class="col">
            Calle:
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Colon">
          </div>
        </div>

        <br>

        <div class="form-row">
            <div class="col">
              Numero:
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="9473">
            </div>
          </div>

  </div>
  <hr>
  <h3 class="text-left titulo-direccion">Dirección Entrega</h3>
  <div class="card-body">


    <div class="form-row">
        <div class="col">
          Comuna:
        </div>
        <div class="col">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Las Condes</option>
            <option>Vitacura</option>
            <option>Providencia</option>
          </select>
        </div>
      </div>

      <br>

      <div class="form-row">
          <div class="col">
            Calle:
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Colon">
          </div>
        </div>

        <br>

        <div class="form-row">
            <div class="col">
              Numero:
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="9473">
            </div>
          </div>

  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    <h4>Tu Información</h4>
  </div>
  <div class="card-body">
    <p class="card-text">Información de Perfil</p>
  </div>
</div>




  </div>
